*{margin:0;padding:0;box-sizing:border-box;outline:none;}
:root{--primary:#233362;--secondary:#A3B9E0;--white:#ffffff;--black:#000000;--gray:#808187;--gray-bg:#f6f5f2;}
@font-face{font-family:'Glancyr';src:url('../fonts/Glancyr-Regular.eot');src:local('Glancyr Regular'),local('Glancyr-Regular'),url('../fonts/Glancyr-Regular.eot?#iefix') format('embedded-opentype'),url('../fonts/Glancyr-Regular.woff2') format('woff2'),url('../fonts/Glancyr-Regular.woff') format('woff'),url('../fonts/Glancyr-Regular.ttf') format('truetype');font-weight:normal;font-style:normal;font-display:swap;}
@font-face{font-family:'Glancyr';src:url('../fonts/Glancyr-Thin.eot');src:local('Glancyr Thin'),local('Glancyr-Thin'),url('../fonts/Glancyr-Thin.eot?#iefix') format('embedded-opentype'),url('../fonts/Glancyr-Thin.woff2') format('woff2'),url('../fonts/Glancyr-Thin.woff') format('woff'),url('../fonts/Glancyr-Thin.ttf') format('truetype');font-weight:100;font-style:normal;font-display:swap;}
@font-face{font-family:'Glancyr';src:url('../fonts/Glancyr-ExtraLight.eot');src:local('Glancyr Extra Light'),local('Glancyr-ExtraLight'),url('../fonts/Glancyr-ExtraLight.eot?#iefix') format('embedded-opentype'),url('../fonts/Glancyr-ExtraLight.woff2') format('woff2'),url('../fonts/Glancyr-ExtraLight.woff') format('woff'),url('../fonts/Glancyr-ExtraLight.ttf') format('truetype');font-weight:200;font-style:normal;font-display:swap;}
@font-face{font-family:'Glancyr';src:url('../fonts/Glancyr-Light.eot');src:local('Glancyr Light'),local('Glancyr-Light'),url('../fonts/Glancyr-Light.eot?#iefix') format('embedded-opentype'),url('../fonts/Glancyr-Light.woff2') format('woff2'),url('../fonts/Glancyr-Light.woff') format('woff'),url('../fonts/Glancyr-Light.ttf') format('truetype');font-weight:300;font-style:normal;font-display:swap;}
@font-face{font-family:'Glancyr';src:url('../fonts/Glancyr-Medium.eot');src:local('Glancyr Medium'),local('Glancyr-Medium'),url('../fonts/Glancyr-Medium.eot?#iefix') format('embedded-opentype'),url('../fonts/Glancyr-Medium.woff2') format('woff2'),url('../fonts/Glancyr-Medium.woff') format('woff'),url('../fonts/Glancyr-Medium.ttf') format('truetype');font-weight:500;font-style:normal;font-display:swap;}
@font-face{font-family:'Glancyr';src:url('../fonts/Glancyr-SemiBold.eot');src:local('Glancyr Semi Bold'),local('Glancyr-SemiBold'),url('../fonts/Glancyr-SemiBold.eot?#iefix') format('embedded-opentype'),url('../fonts/Glancyr-SemiBold.woff2') format('woff2'),url('../fonts/Glancyr-SemiBold.woff') format('woff'),url('../fonts/Glancyr-SemiBold.ttf') format('truetype');font-weight:600;font-style:normal;font-display:swap;}
@font-face{font-family:'Glancyr';src:url('../fonts/Glancyr-Bold.eot');src:local('Glancyr Bold'),local('Glancyr-Bold'),url('../fonts/Glancyr-Bold.eot?#iefix') format('embedded-opentype'),url('../fonts/Glancyr-Bold.woff2') format('woff2'),url('../fonts/Glancyr-Bold.woff') format('woff'),url('../fonts/Glancyr-Bold.ttf') format('truetype');font-weight:bold;font-style:normal;font-display:swap;}

/*- common css -*/
main{margin-top:20px;}
html{scroll-behavior:smooth;}
body{font-family:'Glancyr';font-size:16px;font-weight:100;color:var(--primary);transition:all .3s ease;}
a,
a:hover{text-decoration:none;}
ol,
ul{list-style:none;padding:0;margin:0;}
img,
svg{max-width:100%;}
h1{font-size:60px;font-weight:300;margin:0px;}
h2{font-size:40px;font-weight:300;margin:0px;}
h6{font-size:20px;font-weight:300;margin:0px;}
p{font-size:16px;font-weight:300;line-height:22px;margin:0px;}
.small-title{color:var(--secondary);}
.bg-blue{background:var(--primary);border-radius:24px;}
.bg-skyblue{background:var(--secondary);}
.separate{border-top:2px solid var(--secondary);width:50px;}
.title-wrapper{display:flex;flex-direction:column;gap:20px;}
.custom-flex{display:flex;justify-content:space-between;align-items:center;}
.service-title-wrapper{display:flex;flex-direction:column;gap:10px;}
.custom-list{list-style:disc;margin-left:20px;color:var(--gray);font-weight:300;}
.common-btn{background:var(--secondary);color:var(--primary);padding:11px 51px;border-radius:100px;transition:.3s;display:inline-block;cursor:pointer;text-transform:capitalize;width:max-content;font-size:20px;font-weight:400;border:1px solid transparent;}
.common-btn:hover{background:transparent;border:1px solid var(--secondary);color:var(--secondary);}
.custom-field{padding:14px 20px;width:100%;border-radius:12px;font-size:14px;border:1px solid #FFFFFF30;background:transparent;}
.custom-field::placeholder{color:#EBEBEBBA;font-weight:100;}
.img-radius{border-radius:24px;}
.pb-70{padding-bottom:70px;}
.custom-accordian .accordion-item{border:none;margin-bottom:15px;position:relative;background:var(--primary);color:var(--white);border-radius:20px!important;padding:20px;}
.custom-accordian .accordion-button::after{background-image:url(../images/plus-icon.svg);position:absolute;left:0;height:42px;width:42px;background-size:contain;background-repeat:no-repeat;transform:none;}
.accordion-button:not(.collapsed)::after{background-image:url(../images/minus-icon.svg);}
.custom-accordian .accordion-button{box-shadow:none;background:transparent;padding:0 0px 0px 60px;color:var(--white);}
.custom-accordian .accordion-collapse{padding:10px 0px 0px 60px;color:#EBEBEBBA;}
.accordion-body{padding:0;}
.image-h{height:630px;}
.image-h img{height:100%;width:100%;    object-fit: cover;}
.social-icons{display:flex;gap:10px;}
.social-icons li{background:var(--secondary);border-radius:100%;height:36px;width:36px;transition:all .3s ease;display:flex;justify-content:center;align-items:center;}
.social-icons li:hover{background:var(--primary);}
.logo{width:130px;}
button{background:transparent;border:none;}
.input-wrapper{margin-bottom:20px;}

/* slick-slider */
.slick-track{display:flex;}
.slick-slide{height:inherit;margin:0px 10px;}
.slick-dots{position:initial;margin:0;}
.slick-dots li{width:10px;height:10px;margin:0 2px;margin:0 5px;}
.slick-dots li button{width:100%;height:100%;padding:0;border-radius:100%;background:var(--secondary);}
.slick-dots li.slick-active button{background:var(--primary);}
.slick-dots li button:before{display:none;}
.bg-gradiant{border-radius:24px;background:linear-gradient(180deg,#DEE8F8 0%,#FFFFFF 100%);}
.title-w{max-width:740px;}
.gray-border-btn{padding:17px 31px;background:var(--color-white-solid,#FFFFFF);border:1px solid var(--color-black-10,#0000001A);border-radius:12px;width:100%;height:100%;font-size:20px;font-weight:500;color:var(--text-color);transition:all 0.3s ease;}
.gray-border-btn:hover{background:var(--secondary);border-color:var(--secondary);color:var(--white);}
.inner-padding{padding:50px 60px;}

/* Header */
header .header-wrapper{display:flex;justify-content:space-between;align-items:center;padding:8px 80px;margin:10px 0px;}
.header-fixed header{animation:smoothScroll 1s forwards;left:0;right:0;top:0;position:fixed;z-index:999;}
header .mobile-toggle{display:none;}
.navbar-menu{display:flex;gap:40px;}
.navbar-menu li{position:relative;}
.navbar-menu>li>a{color:var(--white);transition:all 0.3s ease;text-transform:capitalize;letter-spacing:-0.5px;}
header .navbar-menu>li>a:hover,
header .navbar-menu>li.active>a{color:var(--secondary);}
.submenu li{padding:15px 30px 15px 20px;cursor:pointer;font-size:14px;position:relative;}
.submenu li:before{content:"";position:absolute;right:20px;height:20px;width:20px;background-color:var(--secondary);background-image:url(../images/blue-pointer-arrow.svg);background-repeat:no-repeat;background-size:8px;background-position:center;border-radius:100%;opacity:0;}
.submenu li:hover:before{opacity:1;}
.submenu li:hover a{color:var(--white);}
.submenu li a{color:var(--text-color);display:flex;justify-content:space-between;align-items:center;}
.submenu li a .round-icon{height:20px;width:20px;background:var(--secondary);}
header .burger-menu,
header .close-menu{display:none;width:30px;}
.navbar-menu .down-arrow{width:11px;margin-left:5px;}

/* contact-form */
.contact-box{display:grid;grid-template-columns:1fr 1fr;color:var(--white);}
.contact-left-content{display:flex;flex-direction:column;justify-content:end;height:100%;gap:20px;padding:40px;color:var(--white);}
.contact-left-content p{max-width:390px;font-weight:100;}
.contact-right p{color:#EBEBEBBA;}
.contact-right{padding:30px;gap:20px;display:flex;flex-direction:column;justify-content:flex-start;align-items:flex-start;}
.contact-image{background-position:center center;background-repeat:no-repeat;background-size:cover;border-radius:24px 0px 0px 24px;}
.contact-footer{margin-top:10px;display:flex;justify-content:space-between;align-items:center;}
.contact-footer .form-group input{display:none;cursor:pointer;position:relative;}
.contact-footer .form-group label{position:relative;cursor:pointer;}
.contact-footer .form-group label:before{content:'';-webkit-appearance:none;background-color:transparent;border:2px solid var(--secondary);padding:10px;display:inline-block;position:relative;vertical-align:middle;cursor:pointer;margin-right:10px;margin-top:-4px;}
.contact-footer .form-group input:checked+label:after{content:'';display:block;position:absolute;top:0px;left:9px;width:6px;height:14px;border:solid var(--secondary);border-width:0 2px 2px 0;transform:rotate(45deg);}

/* homepage */
.result-wrapper{display:flex;flex-wrap:wrap;gap:25px;}
.result-wrapper li{width:47%;}
.result-wrapper li:first-child .result-box{background:var(--primary);color:var(--white);}
.result-wrapper li:nth-child(2) .result-box{background:#EBEBEBBA;}
.result-wrapper li:nth-child(3) .result-box{background:#F8F9FA;color:var(--secondary);}
.result-wrapper li:last-child .result-box{background:var(--secondary);color:var(--white);}
.result-wrapper .result-box{padding:20px;border-radius:20px;height:100%;font-weight:300;}
.result-wrapper .count{font-size:60px;}
.rating-box{display:flex;justify-content:space-between;align-items:center;}
.rating span{font-size:28px;font-weight:500;}
.about-content li{border-top:1px solid var(--color-grey-5231,#8081874F);}
.about-content li:nth-child(2) .list-items,.about-content li:last-child .list-items{flex-direction:row-reverse;}
.about-content li:nth-child(2) .list-right,.about-content li:last-child .list-right{background:var(--secondary);}
.about-content .list-items{display:flex;justify-content:space-between;gap:20px;}
.about-content .list-left{width:60%;padding:20px 0px;display:flex;flex-direction:column;gap:10px;}
.about-content .list-left p{font-weight:200;color:var(--secondary);}
.about-content .list-left a{color:var(--primary);font-weight:300;}
.about-content .list-right{background:var(--primary);border-radius:0px 0px 20px 20px;max-height:176px;color:var(--white);display:flex;flex-direction:column;justify-content:center;align-items:center;padding:20px;width:30%;text-align:center;}
.about-content .list-right .title{font-size:57px;font-weight:500;line-height:normal;}
.about-content .list-right span{color:#EBEBEBBA;}
.services-inner{position:relative;display:flex;margin-top:100px;}
.border-box{border:1px solid var(--primary);border-radius:15px;padding:30px;}
.square-icon-box{border-radius:15px;color:var(--white);position:absolute;top:-50px;left:0;right:0;max-width:230px;margin:0 auto;padding:25px;}
.icon{height:65px;width:65px;display:flex;justify-content:center;align-items:center;border-radius:10px;margin-bottom:40px;}
.border-box p{padding-top:200px;}
.testimonial-slider{margin-top:30px;margin-bottom:0px!important;}
.testimonial-slider .testimonial-box{box-shadow:0px 5px 30px -10px #1D1D4B1F;padding:30px 35px;border-radius:20px;display:flex;flex-direction:column;justify-content:center;align-items:center;text-align:center;gap:10px;height:100%;}

/* service & inner pages */
.other-service-wrapper{counter-reset:section;padding-left:50px;padding-right:50px;}
.other-servies{background:var(--white);border:1px solid #EBEBEBBA;border-radius:24px;padding:13px;transition:all .3s ease;height:100%;display:flex;flex-direction:column;}
.other-service-content{color:var(--black);flex:1;}
.other-servies .number{height:60px;width:60px;background:var(--primary);color:var(--white);border-radius:100%;display:flex;justify-content:center;align-items:center;margin-bottom:60px;position:relative;}
.other-servies .number:before{counter-increment:section;content:counter(section);}
.custom-service-list{padding-left:20px;}
.custom-service-list li{margin-top:20px;}

/* blog */
.blog{margin-top:30px;}
.blog-box{background:var(--gray-bg);border-radius:24px;color:var(--text-color);height:100%;}
.blog-box h6{font-size:16px;line-height:24px;}
.blog-box .custom-w{max-width:280px;}
.blog-box .content-wrapper{padding:20px 10px 10px;gap:20px;display:flex;justify-content:space-between;}
.blog-box .round-icon{background:var(--white);height:50px;width:50px;border-radius:100%;display:flex;justify-content:center;align-items:center;cursor:pointer;flex-shrink:0;}
.blog-box  .image{height:258px;}
.blog-box  .image img{height:100%;object-fit:cover;}

/* footer */
.footer{margin:70px 10px 10px;}
.footer h6{margin-bottom:20px;}
.footer-content p{margin-bottom:20px;font-size:14px;font-weight:200;}
.social-icons li:hover img{filter:contrast(0.5);}
.footer-link li{margin-bottom:10px;}
.footer-link li:last-child{margin-bottom:0px;}
.footer-contact{font-size:14px;font-weight:200;}
.footer-contact a{display:block;color:var(--primary);}
.footer-contact a:hover{color:var(--secondary);}
.footer-contact .email-box{margin-bottom:20px;}
.footer-link a{font-size:14px;transition:all .3s ease;font-weight:200;color:var(--primary);text-transform:capitalize;}
.footer-link a:hover{color:var(--secondary);}
.copyright-box{text-align:center;color:var(--gray);padding:20px 0px 10px;font-weight:200;}

/* animation */
@keyframes smoothScroll{
    0%{transform:translateY(-40px);}
    100%{transform:translateY(0px);}
}

/* responsive */
@media(min-width:992px){
    header .navbar-menu>li:hover .down-arrow,
    header .navbar-menu>li.active .down-arrow{transform:rotate(180deg);transition:all 0.3s ease;}
    header .navbar-menu>li:hover .submenu{transform:translateY(4%);opacity:1;visibility:visible;}
    .submenu{position:absolute;background:var(--white);border-radius:24px;min-width:250px;transition:all 1s ease;max-height:300px;overflow:auto;transform:translateY(30%);opacity:0;visibility:hidden;z-index:99;}
    .submenu li:first-child{border-radius:24px 24px 0px 0px;}
    .submenu li:last-child{border-radius:0px 0px 24px 24px;}
    .submenu li:hover{background:var(--primary);}
    .navbar-menu li.active .down-arrow{transform:rotate(180deg);}
}
@media(max-width:1199px){
    .container,
    .container-md,
    .container-sm{max-width:100%;}
}
@media (max-width:991px){
    .mobile-open{overflow:hidden;}
    .mobile-open .close-menu{display:block;}
    .mobile-open .burger-menu{display:none;}
    .mobile-open .navbar-menu{left:0;transition:1s;}
    header .header-wrapper{position:relative;padding:10px;border-radius:12px;}
    header .right{position:absolute;right:50px;top:20px;}
    header .social-icons li{height:28px;width:28px;}
    .navbar-menu{background:var(--primary);height:100vh;position:fixed;top:0px;gap:0;left:-100%;width:100%;height:100vh;overflow-y:auto;flex-direction:column;align-items:flex-start;transition:1s;z-index:9;padding:100px 20px 20px;}
    header .burger-menu{display:block;width:25px;}
    header .mobile-toggle{position:absolute;right:10px;z-index:999;top:25px;display:block;}
    .down-arrow{position:absolute;right:15px;top:10px;width:16px;}
    .round-icon{height:35px;width:35px;}
    .navbar-menu li.active .down-arrow{transform:rotate(180deg);}
    .navbar-menu>li{width:100%;margin-bottom:20px;}
    .submenu{position:static;max-height:0;opacity:0;visibility:hidden;transition:1s;width:100%;overflow:hidden;}
    .navbar-menu li.active .submenu{overflow:auto;max-height:100px;transition:1s;opacity:1;visibility:visible;}
    .submenu li{padding:0px;margin:15px 10px 0px;}
    .submenu li a{color:var(--white);}
    .submenu li:before{right:0;background-color:var(--white);}
    .pb-70{padding-bottom:50px;}
    .common-btn{padding:11px 25px;}
    .title-wrapper{gap:15px;}
    .image-h{height:430px;}
    .inner-padding {
    padding: 30px 20px;
}
    .custom-row-space{row-gap:24px;}
    .footer-link li{margin-bottom:5px;}
    .footer h6{margin-bottom:5px;}
    address{margin-bottom:10px;}
    .footer-contact .email-box{margin-bottom:10px;}
}
@media(max-width:767px){
    h1{font-size:40px;}
    h2{font-size:26px;}
    h6{font-size:16px;}
    p{font-size:14px;}
    .image-h{height:300px;}
    .rating-box{gap:10px;flex-direction:column;align-items:flex-start;}
    .about-content .list-items,
    .about-content li:nth-child(2) .list-items,.about-content li:last-child .list-items{flex-direction:column-reverse;}
    .about-content .list-right{max-height:100%;}
    .about-content li{margin-bottom:20px;}
    .about-content .list-left{padding:0;}
    .about-content .list-left,
    .about-content .list-right{width:100%;}
    .border-box p{padding-top:150px;}
    .result-wrapper{flex-direction:column;}
    .result-wrapper li{width:100%;}
    .result-wrapper .result-box{text-align:center;}
    .gray-border-btn{
            padding: 20px 10px;
    }
    .other-service-wrapper {
    padding-left: 0;
    padding-right: 0;
}
    .contact-box{grid-template-columns:1fr;}
    .contact-image{border-radius:24px 24px 0px 0px;height:350px;}
    .contact-left-content,
    .contact-right{padding:20px;}
    .contact-footer{align-items:flex-start;flex-direction:column;gap:11px;}
    .contact-form .common-btn{margin:0 auto;}
    .footer{margin:50px 10px 10px;}
}
